<div  class="container-md">
	<div class="row align-items-center justify-content-end">
		<div class="col-auto align-self-end"><span>
			<button class="btn btn-success" type="button" (click)="onCreateSocial($event, modal_create_social)" [disabled]="addSocialProcess">
				<span *ngIf="addSocialProcess" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
				<span>create social</span>
			</button>
		</span></div>
		<div class="col-auto align-self-end"><span>
			<button class="btn btn-success" type="button" (click)="onCreateClassic($event, modal_create_classic)" [disabled]="addClassicProcess">
				<span *ngIf="addClassicProcess" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
				<span>create classic</span>
			</button>
		</span></div>
	</div>
</div>
<base-table #baseTable [fields]="fields" [querys]="querys" [service]="service" [isEdit]="true" [isMore]="true" ></base-table>
<ng-template #modal_create_social let-modal>
<div class="modal-header">
	<div>
		<h4 class="modal-title" id="modal-basic-title">Create User (social)</h4>
	</div>
	<div>
		<a href="#" class="btn btn-danger text-decoration-none" (click)="$event.preventDefault();modal.dismiss('close');"><span>&times;</span></a>
	</div>
</div>
<div class="modal-body">
	<ng-container *ngIf="addSocialError">
		<div class="alert alert-danger"><span class="h3">{{addSocialError}}</span></div>
	</ng-container>
	<ng-container *ngIf="!addSocialProcess">
		<form class="container-fluid" [formGroup]="modalSocialForm">
			<div class="row row-cols-1">
				<div class="col row mt-1 mb-1 align-items-center">
					<div class="col-auto" [style.width]="'30%'"><span class="h6">id social network</span></div>
					<div class="col-auto" [style.width]="'70%'">
						<input type="text" class="form-control" formControlName="id" />
					</div>
				</div>
				<div class="col row mt-1 mb-1 align-items-center">
					<div class="col-auto" [style.width]="'30%'"><span class="h6">vendor social network</span></div>
					<div class="col-auto" [style.width]="'70%'">
						<input type="input" class="form-control" formControlName="vendor" />
					</div>
				</div>
			</div>
		</form>
	</ng-container>
	<ng-container *ngIf="addSocialProcess">
		<div class="row justify-content-center">
			<div class="col-auto spinner-border" style="width: 5rem; height: 5rem;" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
	</ng-container>
</div>
<div class="modal-footer justify-content-center">
	<div class="col-auto">
		<a href="#" class="btn btn-secondary text-decoration-none" (click)="$event.preventDefault();modal.dismiss('cancel');">Cancel</a>
	</div>
	<div class="col-auto">
		<a href="#" class="btn btn-success text-decoration-none" (click)="onModalCreateSocial($event)">Save</a>
	</div>
</div>
</ng-template>
<ng-template #modal_create_classic let-modal>
<div class="modal-header">
	<div>
		<h4 class="modal-title" id="modal-basic-title">Create User (classic)</h4>
	</div>
	<div>
		<a href="#" class="btn btn-danger text-decoration-none" (click)="$event.preventDefault();modal.dismiss('close');"><span>&times;</span></a>
	</div>
</div>
<div class="modal-body">
	<ng-container *ngIf="addClassicError">
		<div class="alert alert-danger"><span class="h3">{{addClassicError}}</span></div>
	</ng-container>
	<ng-container *ngIf="!addClassicProcess">
		<form class="container-fluid" [formGroup]="modalClassicForm">
			<div class="row row-cols-1">
				<div class="col row mt-1 mb-1 align-items-center">
					<div class="col-auto" [style.width]="'30%'"><span class="h6">user name</span></div>
					<div class="col-auto" [style.width]="'70%'">
						<input type="text" class="form-control" formControlName="user" />
					</div>
				</div>
				<div class="col row mt-1 mb-1 align-items-center">
					<div class="col-auto" [style.width]="'30%'"><span class="h6">password</span></div>
					<div class="col-auto" [style.width]="'70%'">
						<input type="password" class="form-control" formControlName="password" />
					</div>
				</div>
				<div class="col row mt-1 mb-1 align-items-center">
					<div class="col-auto" [style.width]="'30%'"><span class="h6">email</span></div>
					<div class="col-auto" [style.width]="'70%'">
						<input type="email" class="form-control" formControlName="email" />
					</div>
				</div>
			</div>
		</form>
	</ng-container>
	<ng-container *ngIf="addClassicProcess">
		<div class="row justify-content-center">
			<div class="col-auto spinner-border" style="width: 5rem; height: 5rem;" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
	</ng-container>
</div>
<div class="modal-footer justify-content-center">
	<div class="col-auto">
		<a href="#" class="btn btn-secondary text-decoration-none" (click)="$event.preventDefault();modal.dismiss('cancel');">Cancel</a>
	</div>
	<div class="col-auto">
		<a href="#" class="btn btn-success text-decoration-none" (click)="onModalCreateClassic($event)">Save</a>
	</div>
</div>
</ng-template>
