<h2>main component</h2>
<nav>
	<div><a [routerLink]="['/titles']" routerLinkActive="active">titles</a></div>
	<div><a [routerLink]="['/title-groups']" routerLinkActive="active">title-groups</a></div>
	<div><a [routerLink]="['/groups']" routerLinkActive="active">groups</a></div>
	<div><a [routerLink]="['/roles']" routerLinkActive="active">roles</a></div>
	<div><a [routerLink]="['/themes']" routerLinkActive="active">themes</a></div>
	<div><a [routerLink]="['/langs']" routerLinkActive="active">langs</a></div>
	<div><a [routerLink]="['/user-roles']" routerLinkActive="active">user-roles</a></div>
	<div><a [routerLink]="['/users']" routerLinkActive="active">users</a></div>
	<div><a [routerLink]="['/user-infos']" routerLinkActive="active">user-infos</a></div>
	<div><a [routerLink]="['/reviews']" routerLinkActive="active">reviews</a></div>
	<div><a [routerLink]="['/tags']" routerLinkActive="active">tags</a></div>
	<div><a [routerLink]="['/review-tags']" routerLinkActive="active">review-tags</a></div>
	<div><a [routerLink]="['/ratings']" routerLinkActive="active">ratings</a></div>
	<div><a [routerLink]="['/likes']" routerLinkActive="active">likes</a></div>
	<div><a [routerLink]="['/comments']" routerLinkActive="active">comments</a></div>
	<div><a [routerLink]="['/images']" routerLinkActive="active">images</a></div>
</nav>
<div>
	<router-outlet></router-outlet>
</div>
